*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 180px 1fr 1fr 1fr ;
    grid-template-rows: 80px 30px 1fr 1fr;
    border: 2px solid black;
    gap: 2px;
    grid-template-areas: "header header header header"
               "aside  section section section"
               "aside  figure1 figure2 figure3"
               "aside  figure4 figure5 figure6"
    ;  
}

header{
    background-color: rgb(49, 132, 204);
    grid-area: header;
    
}
aside{
    background-color: blue;
    grid-area: aside;
}
section{
    background-color: brown;
    grid-area: section;
}
.figure1{
    background-color: rgb(218, 96, 39);
    grid-area: figure1;
}
.figure2{
    background-color: rgb(121, 37, 100);
    grid-area: figure2;
}
.figure3{
    background-color: rgb(43, 18, 103);
    grid-area: figure3;
}
.figure4{
    background-color: rgb(11, 14, 9);
    grid-area: figure4;
}
.figure5{
    background-color: rgb(136, 31, 31);
    grid-area: figure5;
}
.figure6{
    background-color: rgb(101, 75, 158);
    grid-area: figure6;
}
