* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: clamp(14px, 1vw, 18px);
}

body {
    background-color: rgb(23, 23, 23);
}

@mixin flex-column($gap: 0rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

section {
    max-width: 1800px;
}

main {
    width: 100%;
    @include flex-column(0rem);
    align-items: center;


    section.view1 {
        width: 100%;
        @include flex-column(1rem);
        padding: 1rem;


        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 10px;
            }

        }

        .bottom {
            background-color: rgb(35, 34, 34);
            @include flex-column(3rem);
            border-radius: 10px;
            padding: 1.5rem;

            .text {
                @include flex-column(0.7rem);

                h1 {
                    font-size: 2.7rem;
                    font-weight: 200;
                    text-transform: uppercase;
                }

                p {
                    font-weight: 300;
                    font-size: 1.5rem;
                    opacity: 0.6;
                    line-height: 1.5;
                }

                button {
                    width: fit-content;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.5rem;
                }
            }
        }
    }

    section.view2 {
        @include flex-column(1rem);
        width: 100%;
        padding: 1rem;

        .top,
        .bottom {
            display: flex;
            width: 100%;
            justify-content: space-around;

            .element {
                text-align: center;
                @include flex-column(0.2rem);

                small {
                    opacity: 0.6;
                }

                h2 {
                    font-size: 2rem;
                    font-weight: 300;
                }

            }
        }
    }

    section.view3 {
        width: 100%;
        padding: 1rem;
        @include flex-column(1rem);


        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 0.1rem;
            }

        }

        .bottom {
            background-color: rgb(35, 34, 34);
            @include flex-column(3rem);
            border-radius: 10px;
            padding: 1.5rem;


            .text {
                @include flex-column(0.7rem);

                h1 {
                    font-size: 2.7rem;
                    font-weight: 200;
                    text-transform: uppercase;
                }

                p {
                    font-weight: 300;
                    font-size: 1.5rem;
                    opacity: 0.6;
                    line-height: 1.5;
                }
            }
        }

        .bottom>p {
            text-transform: uppercase;
        }

    }

    section.view4 {
        width: 100%;
        padding: 1rem;
        @include flex-column(1rem);


        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 0.1rem;
            }

        }

        .bottom {
            background-color: rgb(35, 34, 34);
            @include flex-column(3rem);
            border-radius: 10px;
            padding: 1.5rem;


            .text {
                @include flex-column(0.7rem);

                h1 {
                    font-size: 2.7rem;
                    font-weight: 200;
                    text-transform: uppercase;
                }

                p {
                    font-weight: 300;
                    font-size: 1.5rem;
                    opacity: 0.6;
                    line-height: 1.5;
                }
            }
        }

        .bottom>p {
            text-transform: uppercase;
        }

    }

    section.view5 {
        @include flex-column(2rem);
        display: flex;
        gap: 2rem;
        width: 100%;
        padding: 1rem;


        .card1 {
            width: 100%;
            border-radius: 0.7rem;
            background-image: url(./card1.webp);
            background-size: cover;
            aspect-ratio: 1/1;

            @include flex-column(0rem);
            justify-content: space-between;
            padding: 1rem;

            .icon,
            .bottom {
                background-color: rgba(121, 117, 117, 0.499);
                backdrop-filter: blur(5px);
                border: 1px solid white;
                border-radius: 0.7rem;
                padding: 0.5rem;
            }

            .top {
                display: flex;
                gap: 0.7rem;
                justify-content: flex-end;
            }

            .icon {
                width: fit-content;
                border-radius: 50%;
            }

            .bottom {
                display: flex;
                justify-content: space-between;


                p {
                    text-transform: uppercase;
                }
            }
        }

        .card2 {
            width: 100%;
            border-radius: 0.7rem;
            background-image: url(./card2.webp);
            background-size: cover;
            aspect-ratio: 1/1;

            @include flex-column(0rem);
            justify-content: space-between;
            padding: 1rem;

            .icon,
            .bottom {
                background-color: rgba(121, 117, 117, 0.499);
                backdrop-filter: blur(5px);
                border: 1px solid white;
                border-radius: 0.7rem;
                padding: 0.5rem;
            }

            .top {
                display: flex;
                gap: 0.7rem;
                justify-content: flex-end;
            }

            .icon {
                width: fit-content;
                border-radius: 50%;
            }

            .bottom {
                display: flex;
                justify-content: space-between;


                p {
                    text-transform: uppercase;
                }
            }
        }

        .card3 {
            width: 100%;
            border-radius: 0.7rem;
            background-image: url(./card3.webp);
            background-size: cover;
            aspect-ratio: 1/1;

            @include flex-column(0rem);
            justify-content: space-between;
            padding: 1rem;

            .icon,
            .bottom {
                background-color: rgba(121, 117, 117, 0.499);
                backdrop-filter: blur(5px);
                border: 1px solid white;
                border-radius: 0.7rem;
                padding: 0.5rem;
            }

            .top {
                display: flex;
                gap: 0.7rem;
                justify-content: flex-end;
            }

            .icon {
                width: fit-content;
                border-radius: 50%;
            }

            .bottom {
                display: flex;
                justify-content: space-between;


                p {
                    text-transform: uppercase;
                }
            }
        }
    }

    section.view6 {
        width: 100%;
        @include flex-column(1rem);
        padding: 1rem;


        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 10px;
            }

        }

        .bottom {
            background-color: rgb(35, 34, 34);
            @include flex-column(3rem);
            border-radius: 10px;
            padding: 1.5rem;

            .text {
                @include flex-column(0.7rem);

                h1 {
                    font-size: 2.7rem;
                    font-weight: 200;
                    text-transform: uppercase;
                }

                p {
                    font-weight: 300;
                    font-size: 1.5rem;
                    opacity: 0.6;
                    line-height: 1.5;
                }
            }

            .button {
                i {
                    border: 1px solid white;
                    padding: 0.3rem;
                    border-radius: 50%;

                }

                button {
                    width: fit-content;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.5rem;
                    cursor: pointer;
                    background-color: transparent;
                    color: white;
                    font-size: 1.2rem;
                }
            }
        }
    }

    section.view7 {
        width: 100%;
        display: flex;
        @include flex-column(1rem);
        padding: 1rem;

        .top {
            background-color: rgb(230, 239, 99);
            @include flex-column(3rem);
            border-radius: 10px;
            padding: 1rem 2rem;

            .text {
                @include flex-column(0.7rem);
                color: black;


                h1 {
                    line-height: 1;
                    font-size: 3rem;
                    font-weight: 450;
                    text-transform: uppercase;
                }

                P {
                    margin-top: 1rem;
                    font-weight: 600;
                    font-size: 1rem;
                }
            }


            .button {
                width: 100%;
                background-color: black;
                padding: 0.6rem;
                border-radius: 10px;

                i {
                    padding: 0.3rem;

                }

                button {
                    width: 100%;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.5rem;
                    cursor: pointer;
                    background-color: transparent;
                    color: white;
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media(min-width:900px) {
    main {

        section.view1 {
            flex-direction: row;
            padding: 1rem 4rem;

            .top,
            .bottom {
                width: 50%;
            }

            .bottom {
                justify-content: space-between;
                padding: 3rem;

                .text {
                    gap: 1.5rem;

                    h1 {
                        font-size: 3.5rem;
                    }

                    p {
                        width: 60%;
                        font-size: 1rem;
                    }
                }
            }
        }

        section.view2 {
            flex-direction: row;
            padding: 1rem 4rem;
        }

        section.view3 {
            flex-direction: row-reverse;
            padding: 1rem 4rem;

            .top,
            .bottom {
                width: 50%;
            }

            .bottom {

                justify-content: space-between;
                padding: 3rem;


                .paragraphs {
                    display: flex;
                    gap: 2rem;

                    p {
                        font-size: 1rem;
                    }
                }

            }
        }

        section.view4 {
            flex-direction: row;
            align-items: stretch;
            padding: 1rem 4rem;

            .top,
            .bottom {
                width: 50%;
            }

            .bottom {

                justify-content: space-between;
                padding: 3rem;


                .paragraphs {
                    display: flex;
                    gap: 2rem;

                    p {
                        font-size: 1rem;
                    }
                }

            }
        }

        section.view5 {
            flex-direction: row;
            padding: 1rem 4rem;

            .card {
                width: 33%;
                aspect-ratio: 1/1.2;
            }
        }

        section.view6 {
            flex-direction: row;
            padding: 1rem 4rem;

            .top,
            .bottom {
                width: 50%;
            }

            .bottom {
                justify-content: space-between;
                padding: 3rem;

                .text {

                    h1 {
                        font-size: 3.5rem;
                    }

                    p {
                        width: 60%;
                        font-size: 1rem;
                    }
                }
            }
        }

        section.veiw7 {
            flex-direction: row;
            padding: 1rem 4rem;

            .top {
                width: 50%;
            }

            .top {
                justify-content: space-around;
                padding: 3rem;

                .text {

                    h1 {
                        font-size: .5rem;
                    }

                    p {
                        width: 60%;
                        font-size: 1rem;
                    }
                }

                .button {
                    width: fit-content;
                }
            }
        }

    }
}