@font-face {
    font-family: apple;
    src: url(./sf-pro-display_medium.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main{
    height: 100%;
    width: 100%;
    
}
#nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    height: 60px;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
#nav h4{
    color: white;
    font-weight: 100;
}
#center{
    height: 100%;
    width: 100%;
    background-color: black;
    background-image: url(https://www.apple.com/v/iphone-17-pro/b/images/overview/welcome/hero__bdntboqignj6_large_2x.jpg);
    background-size:cover;
    padding: 20px;
    position: relative;
}


#links{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
#links button{
    background-color: royalblue;
    color: wheat;
    margin-top: 41%;
    padding: 13px 20px;
    border-radius: 50px;
    border: none;
}
h3 {
    position: static;
    bottom: 10%;
    left: 50%;
    text-align: center;
    color: rgb(0, 0, 0);
}


#main2{
    height: 100%;
    width: 100%;
    background-color: rgb(22, 24, 27);
    background-image: url(https://www.apple.com/v/iphone-17-pro/c/images/overview/design/design_endframe__ckynsj4a5lua_large_2x.jpg);
    background-size: cover;
    text-align: center;
}


h2{
    padding-top: 100px;
    color: rgb(202, 121, 34);
}
#heading h1{
    height: 50px;
    margin: 12px;
    font-size: 64px;
    color: white;
}
#details{
    margin: 75px 350px;
    width: 800px;
    font-size: 18px;
    color: white;
}
