*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: slategrey;
    padding: 15px;
    display: flex;
    gap: 20PX;
    flex-wrap: wrap;
}
#card{
    height:350px;
    width: 350px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgb(214, 193, 193) ;
    position: relative;
    transition: all ease 0.5s;
    overflow: hidden;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#bottom{
    height: 40%;
    width: 100%;
    background: linear-gradient(transparent,black);
    position: absolute;
    bottom: -40%;
    transition: all ease 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5% 5%;
    
}
#bottom h4{
    font-style: oblique;
    font-weight: 800;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
#bottom h3{
    font-weight: 800;
    font-size: 15px;
}
#card:hover #bottom{
    bottom: 0%;
}