@font-face {
    font-family: horror;
    src: url(./tengahwengi-ywv9z.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
h1{
    color: blue;
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    text-align: left;
}
#hero{
    color: red;
    background-color: black;
    font-family:  horror;
}
.css{
    color: palegreen;
    font-style: inherit;
    text-transform: capitalize;
}
p{
    color: rgb(233, 159, 172);
    font-size: 55px;
    font-weight: bolder;
    font-style: italic;
    text-transform: capitalize;
    background-color: seagreen;
}

div{
     height: 100px;
     width: 100px;
     background-color: aqua;
}
