*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}



/* absolute */ 
/* #car1{
    height: 100px;
    width: 250px;
    background-color: rgb(239, 2, 2);
}

#car2{
    position: absolute;
    height: 100px;
    width: 200px;
    background-color: rgb(3, 50, 8);
}

#car3{
    height: 150px;
    width: 340px;
    background-color: blue;

} */



/* relative */
/* #box{
    position: relative;
    height: 200px;
    width: 200px;
    background-color: rgb(239, 2, 2);
}
#small{
     position: relative;
    height: 100px;
    width: 100px;
    background-color: rgb(148, 239, 2);

}
#innerbox{
    position: absolute;
    left: 50%;
    height: 50px;
    width: 50px;
    background-color: rgb(85, 2, 239);
}  */




/* fixed */
/* #homepage{
    width: 100%;
    height: 3000px;
    background-color: brown;
}
#side{
    position: fixed;
    right: 0;
    top: 50%;
    height: 50px;
    width: 90px;
    background-color: black;
} */





/* sticky */
#box{
    width: 100%;
    height: 100%;
    background-color: #222;
}
#box1{
    width: 100%;
    height: 100%;
    background-color: #333;
}
#box2{
    width: 100%;
    height: 100%;
    background-color: #444;
}
#sticky{
    position: sticky;
    top: 15%;
    height: 30px;
    width: 40px;
    background-color: antiquewhite;
} 