*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
main{
    width: 300px;
    height: 200px;
    background-color: rgb(148, 148, 56);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    gap: 5px;
    color: white;
}
button{
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 900;
    background-color: red;
    color:white;
    border: 2px solid white ;
}

button:active{
    scale: 0.9;
}