*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
     height: 100%;
     width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgba(22, 24, 24, 0.836);
    padding: 10px;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;

}
#card{
    border-radius: 5px;
    height: 300px;
    width: 250px;
    background-color: rgb(137, 41, 41);
    box-shadow: 5px 5px 20px black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;

}

img{
    height: 35%;
    width: 35%;
    border-radius: 25px;
    object-fit: cover;
}
h2{
    font-weight: 800;
    font-size: 30px;
    
}
p{

}
#card button{
    padding:10px 40px;
    background-color:transparent;
    border-color: aqua;
    color: rgb(11, 11, 11);
    cursor: pointer;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 15px;
 
 }

#card button:hover{
    background-color: rgb(27, 23, 23);
    color: rgb(235, 231, 231);
    font-size: 15px;
    font-weight: bolder;
    
}