* {
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 10px;


    section {
        height: 100%;
        flex-grow: 1;
        background-color: red;
        background-size: cover;
        background-position: center;
        transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
        cursor: pointer;
    }
    
    section:hover{
        flex-grow: 3;
        
    }
    section:nth-child(1){
        background-image: url(./Amg.jpg);
        
    }
    section:nth-child(2){
        background-image: url(./buggati.jpg);
        
    }
    section:nth-child(3){
        background-image: url(./ford.jpg);
        
    }
    section:nth-child(4){
        background-image: url(./Gtr.jpg);
        
    }
    section:nth-child(5){
        background-image: url(./R8.jpg);
        
    }
}