*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}


main{
    width: 100%;
    height: 100%;
    background-color: rgb(7, 7, 5);
    display: flex;
    justify-content: center;
    align-items: center;
}    

button{
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    z-index: 9;

}
button:active{
    scale:0.95;
}
h1{
    white-space: nowrap;
}